<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div class="setion-item">
                <h5>Recherche des verrous mentaux : +35</h5>
                <span class='btn btn-sm startBtn'>Deuter la partie</span>
            </div>
        </div>
        <div class="col-6">
            <div class="setion-item">
                <h5>Découvrez les verrous mentaux +20</h5>
                <span class='btn btn-sm startBtn'>Deuter la partie</span>
            </div>
        </div>
        <div class="col-6">
            <div class="setion-item">
                <h5>Découvrez votre personnalité +30</h5>
                <span class='btn btn-sm startBtn'>Deuter la partie</span>
            </div>
        </div>
        <div class="col-6">
            <div class="setion-item">
                <h5>Chalenge <i class="fas fa-star ml-3"></i></h5>
                <span class='btn btn-sm startBtn'>Deuter la partie</span>
            </div>
        </div>
    </div>
</div>